@font-face {
   font-family: 'DINOT-Medium';
   src: url('DINOT-Medium/font.ttf');
}
@font-face {
   font-family: 'DINOT-Regular';
   src: url('DINOT-Regular/font.ttf');
}
@font-face {
   font-family: 'DINOT-Light';
   src: url('DINOT-Light/font.ttf');
}
